{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
<h1>
Mon Compte
</h1>

Bonjour <b>{{app.user.firstname}}</b> bienvenue dans ton compte 
<br>
-Modifier mot de passe<br>
-Page commandes<br>
-ajouter adresses<br>
{% endblock %}
